<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlMSEviaREST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="EventLog" />
    </root>
    <appender name="EventLog" type="log4net.Appender.RollingFileAppender">
      <file value="MSEController.log" />
      <appendToFile value="true" />
      <rollingStyle value="size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ControlMSEviaREST.Properties.Settings>
            <setting name="TemplateInstanceName" serializeAs="String">
                <value>12_Credit</value>
            </setting>
            <setting name="PlaylistTarget" serializeAs="String">
                <value>JVH_CREDIT</value>
            </setting>
            <setting name="ProfileTarget" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="MSEHost" serializeAs="String">
                <value>http://127.0.0.1:8580/</value>
            </setting>
        </ControlMSEviaREST.Properties.Settings>
    </applicationSettings>
</configuration>